<html>
    <head>
        <script src="jquery.min.js"></script>
        <style>
    .parent {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.parent a {
    position: relative;
    left: -50%;
}

.parent a img {
    padding: 28px;
    width: 43vw;
    height: 37vh;
    float: left;
}

        </style>
    </head>
    <body>
    <div class="parent">
            <a>
                <img class="child" src="https://images.unsplash.com/photo-1530619845778-fe66c63cd2ec?ixlib=rb-0.3.5&s=17ad0eac0a5cdb2cb36b5f2140a60c1b&auto=format&fit=crop&w=2689&q=80" alt="2018 Milan Designweek" title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/DSC00365.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="https://images.unsplash.com/photo-1530619317124-1b5bbba0062f?ixlib=rb-0.3.5&s=4dfb741b32767755948adb00ea314ef8&auto=format&fit=crop&w=2689&q=80" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/DSC00419.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/IMG_3863.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/IMG_3866.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/IMG_3864.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/IMG_3867.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/IMG_3896.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
            <a>
                <img class="child" src="/Users/user/Desktop/web/img/hobby/photography/IMG_0356_polarr.JPG" alt="2018 Milan Designweek"title="2018 Milan Designweek">
            </a>
        </div>
    </body>
</html>
